# Virtual Environment
venv/
/venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Data files (Don't upload the CIFAR dataset itself)
data/

# Log files
logs/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints
